Gene_table.txt
HERV_hiconf_table.txt
unique-ambiguously_table.txt
bibliography_AKIKO.bib
Tokuyama_analysis.Rmd
Akiko_GeneCount_Norm.txt
DESeq_Akiko_ERVmap.txt
ERVmap_count.txt
Telescope-ERVmap.txt
samples_Akiko.txt
